<div class="row">
  <div class="col-12">
    <div class="card">
              <div class="tab-content">
                  <div class="tab-pane active show" id="buttons-table-preview" role="tabpanel">
                      <div id="datatable-buttons_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                        <div class="row py-4">
                          <div class="col-sm-12 col-md-6">
                            <div class="dt-buttons btn-group flex-wrap"> 
                              <div id="datatable-buttons_filter" class="dataTables_filter">
                                <label>
                                  <input type="search" class="form-control form-control-sm" placeholder="Add New Group" aria-controls="datatable-buttons">
                                </label>
                              </div>
                            </div>
                          </div> 
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                          <table id="datatable-buttons" class="table table-striped dt-responsive nowrap w-100 dataTable no-footer dtr-inline" aria-describedby="datatable-buttons_info" style="width: 1137px;">
                            <thead>
                              <tr>
                                  <th tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: 40.8px;" aria-label="checkbox: activate to sort column">                                
                                  </th>
                                  <th tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: 265.8px;" aria-label="Name: activate to sort column">Name</th>
                                  <th tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: 60.8px;" aria-label="Add: activate to sort column ">Add</th>
                                  <th tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: 60.8px;" aria-label="Delete: activate to sort column ascending">Delete</th>
                                  <th tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: 60.8px" aria-label="Update: activate to sort column ascending">Update</th>
                                  <th tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: 60.8px" aria-label="Show: activate to sort column ascending">Show</th>
                              </tr>
                          </thead>
                          <tbody>
                          <tr class="odd">
                            <td>
                              <input type="checkbox" class="form-check-input" id="customCheck2">
                            </td>
                          <td class="sorting_1 dtr-control">Angelica Ramos</td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          </tr>
                          <tr class="even">
                            <td>
                              <input type="checkbox" class="form-check-input" id="customCheck2">
                            </td>
                          <td class="sorting_1 dtr-control">Angelica Ramos</td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          </tr>
                          <tr class="odd">
                            <td>
                              <input type="checkbox" class="form-check-input" id="customCheck2">
                            </td>
                          <td class="sorting_1 dtr-control">Angelica Ramos</td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          </tr>
                          <tr class="even">
                            <td>
                              <input type="checkbox" class="form-check-input" id="customCheck2">
                            </td>
                          <td class="sorting_1 dtr-control">Angelica Ramos</td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          </tr>
                          <tr class="odd">
                            <td>
                              <input type="checkbox" class="form-check-input" id="customCheck2">
                            </td>
                          <td class="sorting_1 dtr-control">Angelica Ramos</td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          </tr>
                          <tr class="even">
                            <td>
                              <input type="checkbox" class="form-check-input" id="customCheck2">
                            </td>
                          <td class="sorting_1 dtr-control">Angelica Ramos</td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          </tr>
                          <tr class="odd">
                            <td>
                              <input type="checkbox" class="form-check-input" id="customCheck2">
                            </td>
                          <td class="sorting_1 dtr-control">Angelica Ramos</td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          <td>
                            <input type="checkbox" class="form-check-input" id="customCheck2">
                          </td>
                          </tr>
                            </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- <div class="row">
                    <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info" id="datatable-buttons_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div class="dataTables_paginate paging_simple_numbers" id="datatable-buttons_paginate">
                  <ul class="pagination pagination-rounded">
                    <li class="paginate_button page-item previous disabled" id="datatable-buttons_previous">
                    <a href="#" aria-controls="datatable-buttons" data-dt-idx="0" tabindex="0" class="page-link">
                      <i class="mdi mdi-chevron-left">
                      </i>
                    </a>
                    </li>
                    <li class="paginate_button page-item active"><a href="#" aria-controls="datatable-buttons" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                    </li>
                    <li class="paginate_button page-item ">
                      <a href="#" aria-controls="datatable-buttons" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                    </li>
                    <li class="paginate_button page-item ">
                      <a href="#" aria-controls="datatable-buttons" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                    </li>
                    <li class="paginate_button page-item ">
                      <a href="#" aria-controls="datatable-buttons" data-dt-idx="4" tabindex="0" class="page-link">4</a>
                    </li>
                    <li class="paginate_button page-item ">
                      <a href="#" aria-controls="datatable-buttons" data-dt-idx="5" tabindex="0" class="page-link">5</a>
                    </li>
                    <li class="paginate_button page-item ">
                      <a href="#" aria-controls="datatable-buttons" data-dt-idx="6" tabindex="0" class="page-link">6</a>
                    </li>
                    <li class="paginate_button page-item next" id="datatable-buttons_next">
                      <a href="#" aria-controls="datatable-buttons" data-dt-idx="7" tabindex="0" class="page-link">
                        <i class="mdi mdi-chevron-right">
                        </i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
                  </div> -->
          </div>  
          <div class="text-end">
            <button class="btn btn-primary buttons-print" tabindex="0" aria-controls="datatable-buttons" type="button" fdprocessedid="6sbgg">
              <span>Save</span>
            </button>
          </div>                                        
      </div> 
</div>
